Repository trimn-1012/vite-react-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, prettier --write

.lintstagedrc:

{
  "src/**/*.{ts,tsx,js,jsx}": ["eslint --fix --cache"],
  "*.{md,json,html,css}": ["prettier --write"]
}

add editor config
  .editorconfig
Due: none

add swr
  .eslintrc
  .gitignore
  package.json
  src/App.css
  src/App.tsx
  src/apis/getUsers/index.ts
  src/apis/getUsers/types.ts
  src/main.tsx
  src/services/appAxios.ts
  src/services/request.ts
  yarn.lock
Due: eslint --fix --cache, prettier --write

add router, react-hook-form and setting demo call API login
  package.json
  src/App.css
  src/App.tsx
  src/apis/getUser/index.ts
  src/apis/getUser/types.ts
  src/apis/login/index.ts
  src/apis/login/types.ts
  src/globalSlice.ts
  src/index.css
  src/main.tsx
  src/pages/Home.tsx
  src/pages/Login.tsx
  src/pages/Users.tsx
  src/providers/Redux.tsx
  src/redux/store.ts
  src/redux/types.ts
  src/routes/index.tsx
  src/routes/paths.ts
  src/services/request.ts
  src/services/types.ts
  src/templates/Home/index.tsx
  src/templates/Layout/index.tsx
  src/utility/tokenStorage.ts
  yarn.lock
Due: eslint --fix --cache, prettier --write

setting auth route
  .eslintrc
  src/App.tsx
  src/apis/getUser/index.ts
  src/apis/getUser/types.ts
  src/apis/getUsers/types.ts
  src/apis/login/index.ts
  src/apis/login/types.ts
  src/appSlice.ts
  src/pages/Login/index.tsx
  src/pages/Login/slice.ts
  src/pages/Users.tsx
  src/redux/store.ts
  src/routes/RequireAuth.tsx
  src/routes/index.tsx
  src/routes/paths.ts
Due: eslint --fix --cache

setting auth route
  .eslintrc
  src/App.tsx
  src/pages/User.tsx
  src/pages/Users.tsx
  src/routes/AuthRoute.tsx
  src/routes/GuardRoute.tsx
  src/routes/index.tsx
  src/routes/paths.ts
  src/templates/Layout/index.tsx
Due: eslint --fix --cache

add env
  .env.example
Due: none

add error boundary
  src/organisms/ErrorBoundary.tsx
  src/routes/index.tsx
Due: eslint --fix --cache

config relative path
  package.json
  src/App.tsx
  src/apis/getUser/index.ts
  src/apis/getUsers/index.ts
  src/apis/getUsers/types.ts
  src/apis/login/index.ts
  src/apis/login/types.ts
  src/appSlice.ts
  src/pages/Home.tsx
  src/pages/Login/index.tsx
  src/pages/Login/slice.ts
  src/pages/User.tsx
  src/pages/Users.tsx
  src/providers/Redux.tsx
  src/redux/store.ts
  src/routes/AuthRoute.tsx
  src/routes/GuardRoute.tsx
  src/routes/index.tsx
  src/templates/Layout/index.tsx
  tsconfig.json
  vite.config.ts
  yarn.lock
Due: eslint --fix --cache, prettier --write

add UT and config relative path
  .eslintrc
  .gitignore
  package.json
  src/apis/getUser/types.ts
  src/pages/Home/Home.test.tsx
  src/pages/Home/__snapshots__/Home.test.tsx.snap
  src/pages/Home/index.tsx
  src/pages/Login/Login.test.tsx
  src/pages/Login/__snapshots__/Login.test.tsx.snap
  src/pages/Login/index.tsx
  src/pages/Login/slice.ts
  src/providers/Redux.tsx
  src/routes/AuthRoute.tsx
  src/routes/GuardRoute.tsx
  src/setupTests.ts
  src/templates/Layout/index.tsx
  src/utils/test.Utils.test.tsx
  src/utils/testUtils.tsx
  src/utils/tokenStorage.ts
  vite.config.ts
  yarn.lock
Due: eslint --fix --cache, prettier --write

update testing
  .eslintrc
  jest.config.js.x
  src/@types/global.d.ts
  src/setupTests.js
  vite.config.ts
Due: eslint --fix --cache

add yup
  .eslintrc
  package.json
  src/@types/yup.d.ts
  src/hooks/useLoginMutation.test.ts
  src/hooks/useLoginMutation.ts
  src/pages/Login/Login.test.tsx
  src/pages/Login/index.tsx
  src/services/appAxios.test.ts
  src/services/request.ts
  src/services/types.ts
  src/setupTests.ts
  src/utils/testUtils.tsx
  src/utils/yupGlobal.ts
  yarn.lock
Due: eslint --fix --cache, prettier --write

add commitlint
  .commitlintrc
  package.json
  yarn.lock
Due: prettier --write

change husky
  .huskyrc
Due: none

change file
  .commitlintrc.json
  .huskyrc.json
  .lintstagedrc.json
Due: prettier --write

chore: test husky
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .huskyrc.json
  package.json
  yarn.lock
Due: prettier --write

chore: test husky 2
  .husky/pre-commit
  .lintstagedrc.json
Due: prettier --write

chore: remove pre push
  .husky/pre-push
Due: none

feat: add storybook
  .storybook/main.cjs
  .storybook/preview-head.html
  .storybook/preview.jsx
  package.json
  src/atoms/Button/index.tsx
  src/atoms/Button/styles.css
  src/organisms/Header/index.tsx
  src/organisms/Header/styles.css
  src/stories/atoms/Button.stories.tsx
  src/stories/organisms/Header.stories.tsx
  src/stories/templates/Home.stories.tsx
  src/stories/templates/Layout.stories.tsx
  src/templates/Home/index.tsx
  src/templates/Layout/index.tsx
  yarn.lock
Due: eslint --fix --cache, prettier --write

chore: yarn lock
  yarn.lock
Due: none

ci: config
  .github/workflows/build-and-test.yml
  package.json
Due: prettier --write

chore: upgrade packages
  .eslintrc
  .gitignore
  .storybook/main.cjs
  .vscode/settings.json
  package.json
  src/pages/Login/Login.test.tsx
  src/setupTests.ts
  src/stories/atoms/Button.stories.tsx
  src/stories/organisms/Header.stories.tsx
  src/stories/templates/Home.stories.tsx
  src/stories/templates/Layout.stories.tsx
  src/utils/testUtils.tsx
  tsconfig.json
  vite.config.ts
  yarn.lock
Due: eslint --fix --cache, prettier --write

chore: replace redux toolkit to zustand
  package.json
  src/App.tsx
  src/__mocks__/vitest-env.d.ts
  src/__mocks__/zustand.ts
  src/appSlice.ts
  src/main.tsx
  src/pages/Login/Login.test.tsx
  src/pages/Login/slice.ts
  src/pages/Users.tsx
  src/providers/Redux.tsx
  src/redux/store.ts
  src/redux/types.ts
  src/routes/GuardRoute.tsx
  src/setupTests.ts
  src/stores/login/login-store-creator.ts
  src/stores/login/use-login-store.ts
  src/stores/users/use-users-store.ts
  src/stores/users/users-store-creator.ts
  src/templates/Layout/index.tsx
  src/utils/test.Utils.test.tsx
  src/utils/testUtils.tsx
  yarn.lock
Due: eslint --fix --cache, prettier --write

chore: config tailwindcss and shadcn
  .eslintrc
  components.json
  package.json
  postcss.config.js
  src/components/ui/table.tsx
  src/index.css
  src/lib/utils.ts
  src/main.tsx
  src/pages/Dashboard.tsx
  src/routes/index.tsx
  src/routes/paths.ts
  tailwind.config.js
  yarn.lock
Due: eslint --fix --cache, prettier --write

chore: add folder
  src/constants/.keep
  src/molecules/.keep
  vite.config.ts
Due: none

fix: fix path render component
  .storybook/preview.jsx
  components.json
  src/atoms/ui/table.tsx
  src/pages/Dashboard.tsx
Due: eslint --fix --cache, prettier --write

chore: config tailwindcss and headlessui
  .storybook/preview.jsx
  index.html
  package.json
  postcss.config.js
  src/index.css
  src/main.tsx
  src/templates/Home/index.tsx
  tailwind.config.js
  yarn.lock
Due: eslint --fix --cache, prettier --write

chore: add plugin tailwindcss form
  package.json
  tailwind.config.js
  yarn.lock
Due: prettier --write
